<div class="jumbotron">
    <form class="form-group">
            <fieldset>
                <!-- Address form -->

                <h2>Add Your Charity!</h2>

                <!-- full-name input-->
                <div class="row">
                <div class="control-group col-sm-2">
                    <label class="control-label">Charity's Name</label>
                    <div class="controls">
                        <input id="name" name="name" type="text" placeholder="charityName"
                        class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- URL input-->
                <div class="control-group col-sm-2">
                    <label class="control-label">Website Address</label>
                    <div class="controls">
                        <input id="url" name="url" type="text" placeholder="www.example.com"
                        class="input-xlarge">
                    </div>
                </div>
                <!-- URL photo input-->

                <div class="control-group col-sm-2">
                    <label class="control-label">Link an image of your charity!</label>
                    <div class="controls">
                        <input id="url_image" name="url_image" type="text" placeholder="Link your Image!"
                        class="input-xlarge">
                    </div>
                </div>
                <!-- Phone Number -->
                <div class="control-group col-sm-2">
                    <label class="control-label">Phone Number</label>
                    <div class="controls">
                        <input id="phone_number" name="phone_number" type="text" placeholder="(123) 456-7890"
                        class="input-xlarge">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Category-->
				<div class="control-group col-sm-2">
                    <label class="control-label">Category</label>
                    <div class="controls">
                        <select id="category" name="category" class="input-xlarge">
                            <option value="" selected="selected">(please select a Category)</option>
                            <option value="hs">Homeless</option>
                            <option value="al">Animals</option>
                            <option value="yh">Youth</option>
                            <option value="vs">Veterans</option>
                            <option value="lq">LGBTQ</option>
                            <option value="wm">Women</option>
                            <option value="hc">Healthcare</option>
                            <option value="ml">Meals</option>
                            <option value="mn">Minorities</option>
                            <option value="sc">Senior Citizens</option>

                        </select>
                    </div>
                </div>

                <!-- city input-->
                <div class="control-group col-sm-2">
                    <label class="control-label">City / Town</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge">
 						<br>
                     </div>
                </div>
                <!-- state input-->
                <div class="control-group col-sm-2">
                    <label class="control-label">State</label>
                    <div class="controls">
                        <input id="state" name="state" type="text" placeholder="state / province / region"
                        class="input-xlarge">
                        <br>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group col-sm-2">
                    <label class="control-label">Zip / Postal Code</label>
                    <div class="controls">
                        <input id="zipcode" name="zipcode" type="text" placeholder="zip or postal code"
                        class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
                <div class="form-group col-sm-8">
    <label for="desciption">Brief Desciption of Your Charity</label>
    <textarea class="form-control" id="desciption" rows="3"></textarea>
  </div>

            </fieldset>
        </form>
    </div>
