<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">




<div class="container">
  <div class="row">
    {{#each items}}
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{charityName}}</h5>

        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>
