




<div class="container zip-search-orgs">
  <div class="row">
    {{#each items}}
    <div class="col-md-4 zip-org">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{charityName}}</h5>

        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>
