









<div class="container">
  <div class="row">
    {{#each favorite_charities}}
    <div class="col-md-4">
      <div class="card">
          <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <form class="signup" method="post" action="/api/user-charity" >
            <div class="table" style="display: none">
              <label for="Charity Name">Charity Name</label>
              <input type="category" class="form-control" id="name" placeholder="Name" name="name" value={{charityName}}>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>

