

<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">How would you like to help?</h2>
            <p class="text-center"></p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"></a><img src="assets/img/Charity-Jar.jpg" width="300px" height="250px" style="height:157px;">
                <h3 class="name">$</h3>
                <p class="description"><strong>Donate to Charity</strong>. You may choose to&nbsp;<strong>give</strong>&nbsp;money or&nbsp;<strong>donate</strong>&nbsp;property to a&nbsp;<strong>charity</strong>. Your&nbsp;<strong>donations</strong>&nbsp;can be helpful
                    for medical research, relief efforts after disasters, or on-going operations.</p><a href="/localOrgs" class="action"><i class="dfw-charities fa fa-arrow-circle-right"></i></a></div>
            <div class="col-sm-6 col-md-4 item"><a href="#"></a><img src="assets/img/Community_title.jpg" style="width:300px;">
                <h3 class="name"><strong>Volunteer</strong></h3>
                <p class="description">Clear position descriptions and responsibilities can help mitigate difficult volunteer situations, give volunteers room to grow.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div class="col-sm-6 col-md-4 item"><a href="#"></a><img src="assets/img/Support-Get-Involved-banner.jpg" style="width:300px;height:200px;">
                <h3 class="name">Community&nbsp;</h3>
                <p class="description">Thank you for your interest in volunteer opportunities with the DFW heros. There are many ways to contribute to your community, and we consider the involvement of our residents vital to building a better community and improving delivery
                    of services.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
    </div>
</div>
